<!DOCTYPE html>
<html lang="en">
<head>
  <title>Profile</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="css/style.css">


  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
 <div class="container bgbox1">
<div class="col-md-9 ">
  
<p>COLAB</p>
</div>
<div class="col-md-3">
<a href=""><img src="/images/message.png" class="img" alt="Cinque Terre" ></a>
<a href=""><img src="/images/well.png" class="img" alt="Cinque Terre" ></a>
<a href=""><img src="/images/profile.png" class="img" alt="Cinque Terre" ></a> 
</div>
</div>
<center>
<a href=""><img src="/images/Generic-profile-image.png" class="img-circle" alt="Cinque Terre" ></a>
 </center>
 </div>
 <div class="continer my-continer padd2">
 <p >About</p>
 <div class="well well-sm  ">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</div>
 
  <div class="col-md-5">
  <form>
 <div class="input-group">
  <label >Email</label><br/>
  <input type="text" name="em" class="form-control" placeholder="Email"><br/>
  <label>Password</label><br/>
  <input type="password" name="pass" class="form-control" placeholder="Password"><br/>
  </form> 
 </div>   
  </div>
<div class="col-md-7">
<p class="split-para">Friends <span><a href="" >Alt>></a></span></p>
     
     <div class="bgbox" >
      <a href=""><img src="/images/Generic-profile-image.png" class="img-circle" alt="Cinque Terre" width="110px" height="110px"></a>
      <a href=""><img src="/images/Generic-profile-image.png" class="img-circle" alt="Cinque Terre" width="110px" height="110px"></a>
      <a href=""><img src="/images/Generic-profile-image.png" class="img-circle" alt="Cinque Terre" width="110px" height="110px"></a>
      <a href=""><img src="/images/Generic-profile-image.png" class="img-circle" alt="Cinque Terre" width="110px" height="110px"></a><br/>
      <a href=""><img src="/images/Generic-profile-image.png" class="img-circle" alt="Cinque Terre" width="110px" height="110px"></a>
      <a href=""><img src="/images/Generic-profile-image.png" class="img-circle" alt="Cinque Terre" width="110px" height="110px"></a>
      <a href=""><img src="/images/Generic-profile-image.png" class="img-circle" alt="Cinque Terre" width="110px" height="110px"></a>
      <a href=""><img src="/images/Generic-profile-image.png" class="img-circle" alt="Cinque Terre" width="110px" height="110px" ></a>
     </div>
  </div>
<p class="alinright"  > <a href="" >Alt>></a></p>
<label>Intrest</label>
<div class="bgbox" >
  <P><a href="">somelink</a>&nbsp;&nbsp;&nbsp;<a href="">somelink</a>&nbsp;&nbsp;&nbsp;<a href="">somelink</a>&nbsp;&nbsp;&nbsp;<a href="">somelink</a>&nbsp;&nbsp;&nbsp;<a href="">somelink</a>&nbsp;&nbsp;&nbsp;<a href="">somelink</a>&nbsp;&nbsp;&nbsp;<a href="">somelink</a>&nbsp;&nbsp;&nbsp;<a href="">somelink</a>&nbsp;&nbsp;&nbsp;<a href="">somelink</a>&nbsp;&nbsp;&nbsp;<a href="">somelink</a>&nbsp;&nbsp;&nbsp;<a href="">somelink</a>&nbsp;&nbsp;&nbsp;<a href="">somelink</a>&nbsp;&nbsp;&nbsp;<a href="">somelink</a>&nbsp;&nbsp;&nbsp;<br/><a href="">somelink</a>&nbsp;&nbsp;&nbsp;<a href="">somelink</a>&nbsp;&nbsp;&nbsp;<a href="">somelink</a>&nbsp;&nbsp;&nbsp;<a href="">somelink</a>&nbsp;&nbsp;&nbsp;<a href="">somelink</a>&nbsp;&nbsp;&nbsp;<a href="">somelink</a>&nbsp;&nbsp;&nbsp;</P>

</div>
 </div>
 

</body>
</html>

































<p>
  <strong>Name:</strong>
  <%= @user.first_name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>
  
  <p>
  <strong>Image:</strong>
  <%#= image_tag @user.image %>
</p>

  
<p>
  <strong>About:</strong>
  <%= @user.about %>
</p>  






<% @users.each do |user| %>
<p>
    <%#byebug %>

   <% if Follow.where(follower_id: current_user.id, following_id:user.id).first.present? %>


    <%=link_to 'unfollow',  user_follows_path(user.id),  method: :post %>
    <%= user.name %>
  
   <% else %>
    
    
    <%=link_to 'Follow',  user_follows_path(user.id),  method: :post %>
    <%= user.name %>

  </p>

  

     <%#= link_to 'Follow', {:controller =>"followers", :action =>"create", followerid: current_user.id, followingid: user.id} %>
  
     <% end %>

<% end %>

<%= link_to "Following", {controller: "follows", action: "following"} %>
<%= link_to "Follower", {controller: "follows", action: "follower"} %>


