
      <div class="container">
         <div class="container bgbox2">
            <div class="col-md-9 ">
               <h1>Posts</h1>
            </div>
         </div>
      </div>
      <br/>

      <% @posts.each do |post| %>
      <a href=""><img src="images/Generic-profile-image.png" class="img" alt="Cinque Terre" width="60" hight="60"></a><a href="">User Name</a>
      <div class="container">
         <div class="col-md-12">
            <div class="well well-sm ">
               <%= post.title %>
               <br/>
            </div>
            <div class="well well-sm ">
               <a <%= link_to 'Show', post %>
               </a>&nbsp;&nbsp;&nbsp;&nbsp;
               <a <%= link_to 'Edit', edit_post_path(post) %>
               </a>&nbsp;&nbsp;&nbsp;&nbsp;
               <a <%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %>
               </a>&nbsp;&nbsp;&nbsp;&nbsp;
               <a <%= link_to 'New Post', new_post_path %>
               </a>&nbsp;&nbsp;&nbsp;&nbsp;
               
              
             <button onclick="chats_click('<%=post.id%>');">        Chat</button> 

             &nbsp;&nbsp;&nbsp;&nbsp;
            <button onclick="endorses_click('<%=post.id%>');">        Endorse</button> 
               &nbsp;&nbsp;&nbsp;&nbsp;
               <%# if post.votes_for.where(voter_id: current_user.id).first.present? %>
                   
                <%= link_to "Dislike", dislike_post_path(post),class: 'vote', method: :put, remote: true %>
                
                

            <!-- <button class="btn btn-primary"> 
          <span><p><i class="fa fa-thumbs-down fa-lg" aria-hidden="true"></i></p></span>
        </button> -->

                  <span class="votes-count" data-id="<%= post.id %>">
               <%= post.get_downvotes.size  %>
              </span> 
                 


               <%# else%>
              <%= link_to "like", like_post_path(post), method: :put,class: 'vote', remote: true %>
               


                 <!-- <button class="btn btn-primary"> 
          <span><p><i class="fa fa-thumbs-up fa-lg" aria-hidden="true"></i></p></span>
        </button> -->
                <span class="votes-count" data-id="<%= post.id %>">
                <%= post.get_upvotes.size  %>
                              

              </span>  
              
  
                <%# end %>
            </div>
         </div>
         </div>

           <div class="chat_form_<%=post.id %>" style='display: none;'>
             <%= render 'chat' %>
             </div>


           
         
          <% post.endorsements.each do |endorsement| %>
         <p>
           <strong>Text:</strong>
            <%= endorsement.text %>
           </p>

          <p>
           <strong>User_id:</strong>
            <%= endorsement.user.email %>
          </p>



        <% end %>
            <div class="endorse_form_<%=post.id %>" style='display: none;'>
           <%= form_for([post, post.endorsements.build]) do |f| %>
         <p>
           <%= f.label :text %><br>
           <%= f.text_field :text %>
         </p>
  
          <p>
           <%= f.label :user_id %><br>
           <%= f.text_field :user_id %>
          </p>

          <p>
         <%= f.submit %>
          </p>
       <% end %>
       </div>
        <% end %>
      
      </div>
     
     <%#= render 'chat' %>

   
      
      <%# end %>
    

<!-- <p id="notice"><%= notice %></p>
   <h1>Posts</h1>
   
   <table>
     <thead>
       <tr>
         <th>Title</th>
         <th>Descrption</th>
         <th colspan="3"></th>
       </tr>
     </thead>
   
     <tbody>
       <#% @posts.each do |post| %>
         <tr>
           <td><%#= post.title %></td>
           <td><%#= post.descrption %></td>
           <td><#%= link_to 'Show', post %></td>
           <td><#%= link_to 'Edit', edit_post_path(post) %></td>
           <td><#%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %></td>
         </tr>
       <%# end %>
     </tbody>
   </table>
   
   <br>
   
   <%#= link_to 'New Post', new_post_path %> -->
  <script>
    
    function endorses_click(argument) {
      $(".endorse_form_"+ argument).toggle();
    }
  </script>

  <script>
    
    function chats_click(argument) {
      $(".chat_form_"+ argument).toggle();
    }
  </script>


 