<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @post.title %>
</p>

<p>
  <strong>Descrption:</strong>
  <%= @post.descrption %>
</p>

<h2>Posts</h2>
<% @current_user.posts.each do |post| %>
  <p>
    <strong>Title:</strong>
    <%= post.title %>
  </p>
 
  <p>
    <strong>Descrption:</strong>
    <%= post.descrption %>
  </p>
<% end %>
 
<h2>Add a post:</h2>
<%= form_for([@post, @current_user.posts.build]) do |f| %>
  <p>
    <%= f.label :Title %><br>
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.label :Descrption %><br>
    <%= f.text_area :descrption %>
  </p>
  <p>
    <%= f.submit %>
  </p>
<% end %>

<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>
