<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @post.title %>
</p>

<p>
  <strong>Descrption:</strong>
  <%= @post.descrption %>
</p>

<p>
  <strong>Image:</strong>
  <%= image_tag @post.image %>
</p>

<p>
  <strong>Feeling:</strong>
  <%#=@post.feeling %>
  <%= content_with_emoji(@post.feeling) %>
</p>

<% @post.endorsements.each do |endorsement| %>
  <p>
    <strong>Text:</strong>
    <%= endorsement.text %>
  </p>

  <p>
    <strong>User_id:</strong>
    <%= endorsement.user.email %>
  </p>

<% end %>

<%= form_for([@post, @post.endorsements.build]) do |f| %>
  <p>
    <%= f.label :text %><br>
    <%= f.text_field :text %>
  </p>
  
   <p>
    <%= f.label :user_id %><br>
    <%= f.text_field :user_id %>
  </p>

  <p>
    <%= f.submit %>
  </p>
<% end %>





<h2>Comments</h2>
<% @post.comments.each do |comment| %>

 
<p>
  <strong>Comment:</strong>
  <%= comment.comment %>
</p>


<% end %>



<%= form_for([@post, @post.comments.build]) do |f| %>
  
  
  
  <p class="emoji-picker-container">

    <%= f.label :comment %><br>
    <%= f.text_area :comment, class: 'form-control', data: { emojiable: true } %>

      <%#= "Post comment: #{content_with_emoji(@post.comments)}".html_safe %>
        
  </p>
<p>
    <%= f.submit %>
  </p>
<% end %>
 


 
 <% #if @post.votes_for.where(voter_id: current_user.id).first.vote_flag == true %>
   <%= link_to "Dislike", dislike_post_path(@post), method: :put %>
   <%= @post.votes_for.size %> 
  
 <% #else%>
    <%= link_to "Like", like_post_path(@post), method: :put %>
    <%= @post.votes_for.size %>
    

 <%# end %>




