<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @post.title %>
</p>

<p>
  <strong>Descrption:</strong>
  <%= @post.descrption %>
</p>

<p>
  <strong>Image:</strong>
  <%= image_tag @post.image %>
</p>

 
 <% #if @post.votes_for.where(voter_id: current_user.id).first.vote_flag == true %>
   <%= link_to "Dislike", dislike_post_path(@post), method: :put %>
   <%= @post.votes_for.size %> 
  
 <% #else%>
    <%= link_to "Like", like_post_path(@post), method: :put %>
    <%= @post.votes_for.size %>
    

 <%# end %>




